a:hover h3 {
    color: var(--ad-text);
}

.project {
    padding: .5rem .5rem inherit;
}

.card img {
    box-shadow: 3px 3px 6px rgba(127, 90, 240, .3);
}

/*MEDIA QUERIES*/
@media (max-width:1400px) {}

@media (max-width:1300px) {}

@media (max-width:1024px) {}

@media (max-width:992px) {
    .col+.col {
        margin-top: 2rem;
    }
}

@media (max-width:768px) {}

@media (max-width:532px) {}