a:hover h3 {
    color: var(--ad-text);
}

.project {
    padding: .5rem .5rem inherit;
}

.light-mode .card img {
    box-shadow: 4px 4px 8px rgba(115, 72, 244, .6);
}

.card img {
    box-shadow: 4px 4px 8px  rgba(189, 95, 255, 0.6);
}

/*MEDIA QUERIES*/
@media (max-width:1400px) {}

@media (max-width:1300px) {}

@media (max-width:1024px) {}

@media (max-width:992px) {
    .col+.col {
        margin-top: 2rem;
    }
}

@media (max-width:768px) {}

@media (max-width:532px) {}