*:focus {
    outline: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-size: 1.1rem;
}


h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
}

h2,
h3,
h4,
h5 {
    font-family: 'Libre Baskerville', serif;
    color: currentColor;
}

a {
    color: var(--theme-ui-colors-text);
    text-decoration: none;
}

a:active {
    color: var(--theme-ui-colors-text);
    text-decoration: none;
}

a:visited {
    color: var(--theme-ui-colors-text);
    text-decoration: none;
}

a:hover {
    color: var(--theme-ui-colors-highlight);
    text-decoration: none;
}

p {
    margin: 0;
}

p+p {
    margin-top: .5rem;
}

.row {
    margin: 0;
}

.button {
    padding: .2rem 1rem;
    border-radius: 25px;
    background: var(--theme-ui-colors-background);
    color: var(--theme-ui-colors-text);
    box-shadow: 4px 4px 8px var(--theme-ui-colors-box-shadow-dark),
        -4px -4px 8px var(--theme-ui-colors-box-shadow-light);
    margin: 10px;
    transition: background .5s, box-shadow .5s, color .5s;
    border: none;
}

.button:hover {
    transition: box-shadow .5s;
    box-shadow: 3px 3px 6px var(--theme-ui-colors-box-shadow-dark),
        -3px -3px 6px var(--theme-ui-colors-box-shadow-light);
}

.purple {
    color: var(--theme-ui-colors-highlight);
}

/* styles for dialogflow messenger start */
df-messenger {
    --df-messenger-button-titlebar-color: #7f5af0;
    --df-messenger-button-titlebar-font-color: #fffffe;
}

/* styles for dialogflow messenger end */